@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Gerenciamento</h1>
    <p class="lead">Escolha uma das opções abaixo:</p>

    @* <a class="btn btn-primary m-2" asp-controller="Filial" asp-action="Index">Gerenciar Filiais</a>
    <a class="btn btn-primary m-2" asp-controller="Patio" asp-action="Index">Gerenciar Pátios</a> *@
    <a class="btn btn-primary m-2" asp-controller="swagger" asp-action="Index">Documentação da API</a>
</div>
